.background {
    background-image: linear-gradient(125deg, #ffff41, #96fa96, #96e1e1);
    position: relative;
    background-size: 200%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: slideshow 20s linear infinite;
}

.background2 {
    background-image: linear-gradient(125deg, #ffff41, #96fa96, #96e1e1);
    position: relative;
    background-size: 400%;
    height: 80px;
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: slideshow 20s linear infinite;
}

@keyframes slideshow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@media screen and (max-width: 520px) {
    .background2 {
        height: 120px;
    }
}

h1 {
    font-size: 60px;
    color: rgb(35, 35, 35);
    margin: 20px;
    padding: 0;
}

.portrait {
    position: relative;
    padding-top: 25px;
    text-align: center;
}

.portrait div {
    background-color: silver;
    background-image: url("../images/Zhao.jpg");
    background-size: 120px;
    border-radius: 50%;
    display: inline-block;
    height: 120px;
    position: relative;
    text-indent: -99999px;
    width: 120px;
}

ul {
    list-style-type: none;
    padding: 0;
}

body {
    background: white;
    color: rgb(30, 30, 30);
    font-family: Calibri, Helvetica, Arial;
    padding: 0;
    margin: 0;
}

.menu {
    /*position: absolute;*/
    top: 0;
    margin: 0px 8% 0px 8%;
}

.menu ul {
    display: inline-block;
}

.menu li {
    display: inline-block;
    font-size: 24px; 
    padding: 10px 16px 10px 0;
}

a {
    text-decoration: none;
}

.menu a:hover, .link:hover {
    color: rgb(0, 100, 100)
}

.menu a, .link {
    color: rgb(0, 140, 140);
}

strong {
    color: rgb(0, 100, 100);
    border-style: solid;
    border-radius: 5px;
    padding: 0 2px 0 2px;
}

.nav {
    display: inline-block;
    width: 80%;
    height: 192px;
    margin: 0 2% 2% 0;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
}

.nav:hover {
    filter: brightness(90%);
}

.nav .text-wrap {
    position: absolute;
    bottom: 24px;
    left: 24px;
    right: 24px;
    font-size: 24px;
    color: rgb(30, 30, 30);
    font-weight: bold;
}

@media screen and (min-width: 608px) {
    .nav {
        width: 384px;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 32px;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    overflow: auto;
    display: none;
    justify-content: center;
    align-items: flex-start;
}

.modal-content {
    position: relative;
    background-color: white;
    width: 80%;
    max-height: 80%;
    margin: 16px;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
    overflow: auto;
}

.modal-content img {
    /*position: relative;*/
    width: 75%;
}

@media screen and (min-width: 892px) {
    .modal-content {
        width: 740px;
    }
    .modal-content img {
        width: 600px;
    }
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 32px;
    font-weight: bold;
    padding: 0 16px;
    color: rgba(0,0,0,0.2);
    cursor: pointer;
    user-select: none;
}

.modal-close:hover, .modal-close:focus {
    color: rgba(0,0,0,0.5);
}

.tags {
    color: rgb(150, 150, 150);
    font-size: 18px;
    margin-top: 12px;
}

.tags li {
    display: inline-block;
    height: 36px;
    margin-right: 20px;
}

.icons {
    vertical-align: text-top;
    margin-right: 10px;
    width: 30px;
}

.icons:hover {
    filter: brightness(80%);
}

.main, footer {
    margin: 0 8% 20px 8%;
}

.post {
    margin: 60px 0 120px 0;
}

.text {
    font-size: 20px;
    line-height: 40px;
    color: rgb(35, 35, 35);
}

figure {
    margin-left: 0;
    /*padding-bottom: 24px;*/
}

.horizontal li {
    display: inline-block;
    width: 45%;
}

.horizontal li img {
    width: 100%;
}

.vertical {
    display: block;
    width: 85%;
    margin: 0;
}
.vertical img {
    width: 100%;
}

@media screen and (min-width: 892px) {
    .horizontal ul {
        display: inline-block;
    }
    .horizontal li {
        width: 290px;
    }
    .vertical {
        width: 590px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 18px;
    }
}

figcaption {
    margin-bottom: 6px;
}

iframe {
    position: relative;
    max-width: 590px;
    width: 85%;
    height: 300px;
}

.link {
    font-size: 24px;
}
